*{
    box-sizing: border-box;
    margin: 0%;
}
.container{
    /* align-items: center; */
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 60px;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    width: 350px;
    height: 550px;
    border: 8px double black;
}
.main{
    background-color: black;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
}
.siva{
    display:flex;
    background-color: black;
    height: 88px;
    column-gap: 20px;
}

.flex{
    /* border-image:linear-gradient(yellow,green,red); */
    border: 2px solid red;
    color: aliceblue;
    width:60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 50px;

}
.flex1{
    color: aliceblue;
    border: 2px solid red;
    width:60px;
    height: 60px;
    margin-top: 8px;
    border-radius: 50px;
}
.flex1 img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.flex2{
    color: aliceblue;
    border: 2px solid red;
    width:60px;
    height: 60px;
    margin-top: 8px;
    border-radius: 50px;
}
.flex2 img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.flex3{
    color: aliceblue;
    border: 2px solid red;
    /* border-image: linear-gradient(red,yellow); */
    /* border-image-slice: 1; */
    width:60px;
    height: 60px;
    margin-top: 8px;
    border-radius: 50px;
}
.flex3 img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /* border: 1px solid; */
    /* border-image:linear-gradient(red,yellow); */
    /* border-image-slice: 1; */
 }
/* .grad{ */
    /* width:65px; */
    /* height:65px; */
    /* border: 2px solid; */
    /* border-radius:0px; */
    /* border-image:linear-gradient(to top,red,pink,yellow); */
    /* border-image-slice:1; */
/* } */
.post{
    background-color: black;
    display: flex;
    height: 9%;
    width: 100%;
    /* border-bottom-left-radius: 60px; */
    /* border-bottom-right-radius: 60px; */
}
.post2{
    border: 2px solid red;
    width: 40px;
    height: 40px;
    border-radius:40px;
    margin-left: 6px;
    margin-top: 4px;
    
}
.post2 img{
     width: 35px;
     height: 35px;
     border-radius:35px;
}
.post3{
    color:white;
    margin-left: 12px;
    margin-top: 12px;
}
.comments{
    background-color: black;
    height: 340px;
    border-bottom-left-radius:59px;
    border-bottom-right-radius:59px; 
}
.circle{
    border-radius:20px;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    margin-left: 4px;
    margin-top: 2px;
}
.text{
    color:white;
    margin-left: 8px;
    margin-top: 2px;
    font-size: small;
}
.most{
    display: flex;
}
.text2{
    color: white;
    margin-left: 32px;
    font-size: x-small;
}
